<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxtTkw9gYkmJ413hLg5zNGSPqYp838ecQ</string>
	<key>GCM_SENDER_ID</key>
	<string>350256701941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7SXU9UX6X8</string>
	<key>PROJECT_ID</key>
	<string>dovo-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>dovo-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:350256701941:ios:9ff14ce7464d844b58c0bc</string>
</dict>
</plist>
