<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAwaitAlignment</key>
	<string>webConvolutionDelay</string>
	<key>buttonDuringSingleton</key>
	<string>extensionMementoTag</string>
	<key>canvasScopeDelay</key>
	<string>capacitiesFromEnvironment</string>
	<key>entityContainAction</key>
	<string>integerAwayFacade</string>
	<key>mainBrushKind</key>
	<string>monsterBesideVar</string>
	<key>petCommandBottom</key>
	<string>activityFormDuration</string>
	<key>scrollVisitorOrigin</key>
	<string>sophisticatedTaskFrequency</string>
	<key>segueAboutTask</key>
	<string>allocatorCommandKind</string>
	<key>sliderAwayOperation</key>
	<string>callbackOutsideActivity</string>
	<key>unsortedStatelessMomentum</key>
	<string>oldCompleterFeedback</string>
</dict>
</plist>
