<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerStateForce</key>
	<string>completerVersusParam</string>
	<key>grayscaleByKind</key>
	<string>responseStyleFeedback</string>
	<key>mobileValueHue</key>
	<string>bulletParamKind</string>
	<key>musicModeVisible</key>
	<string>sophisticatedFeatureSkewy</string>
	<key>radiusStageAppearance</key>
	<string>draggableControllerIndex</string>
	<key>specifierFromFunction</key>
	<string>robustHandlerBorder</string>
</dict>
</plist>
