<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocActionInterval</key>
	<string>unaryInsideKind</string>
	<key>draggableTechniqueInteraction</key>
	<string>arithmeticShaderDistance</string>
	<key>intensityAboutStrategy</key>
	<string>sceneStateSpacing</string>
	<key>listenerPrototypeAcceleration</key>
	<string>buttonForComposite</string>
	<key>resilientConstraintPosition</key>
	<string>chartVarOffset</string>
	<key>resourcePlatformTop</key>
	<string>missedReductionSkewx</string>
	<key>robustResultCenter</key>
	<string>commandAgainstStage</string>
	<key>scrollBridgeVisibility</key>
	<string>crudePlateSkewx</string>
</dict>
</plist>
