<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentProjectStyle</key>
	<string>precisionStageEdge</string>
	<key>effectViaPrototype</key>
	<string>relationalBinaryDepth</string>
	<key>enabledFutureVelocity</key>
	<string>widgetAsTier</string>
	<key>localizationCompositeInset</key>
	<string>imperativeGiftSaturation</string>
	<key>notifierAsCycle</key>
	<string>durationFacadeColor</string>
	<key>typicalFactoryTheme</key>
	<string>arithmeticProcessTheme</string>
</dict>
</plist>
