<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertShapeSkewy</key>
	<string>scaleStageName</string>
	<key>cacheLikeStyle</key>
	<string>segmentPrototypeFlags</string>
	<key>completionFrameworkOpacity</key>
	<string>curveLikeMode</string>
	<key>giftFlyweightTail</key>
	<string>resourceViaChain</string>
	<key>movementVariableContrast</key>
	<string>coordinatorAsFlyweight</string>
	<key>nextChallengeCount</key>
	<string>delegateSingletonState</string>
	<key>operationDuringCycle</key>
	<string>chartThroughPhase</string>
	<key>subpixelCycleRight</key>
	<string>paddingModeRotation</string>
	<key>subsequentFlexBorder</key>
	<string>originalBuilderMargin</string>
	<key>taskStructureBehavior</key>
	<string>contractionInsideFlyweight</string>
</dict>
</plist>
