<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnIncludeProxy</key>
	<string>bufferPrototypeCoord</string>
	<key>denseMonsterStyle</key>
	<string>sceneMementoLocation</string>
	<key>interfacePhaseDensity</key>
	<string>dialogsMementoBorder</string>
	<key>pinchableNibAcceleration</key>
	<string>capacitiesFacadeEdge</string>
	<key>protocolPerEnvironment</key>
	<string>responseBridgeTop</string>
	<key>resizableSwiftAppearance</key>
	<string>nodeVersusStructure</string>
	<key>uniformNodeAcceleration</key>
	<string>projectFromPrototype</string>
</dict>
</plist>
